[submodule "external/ops"]
	path = external/ops
	url = https://github.com/VaultSovereign/vm-ops.git
[submodule "tools/cmd"]
	path = tools/cmd
	url = git@github.com:VaultSovereign/cmd.git
	branch = main
